// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


%min-height {
  min-height: 150px;
}


.form-login-vk  {
  display: none;
}

.form-login-vk-error {
  display: none;
}

.instruction-link {
  padding-bottom: 20px;
}


.form-group.required .control-label:after {
  color: #af0303;
  content: "*";
  position: absolute;
  margin-left: 5px;
}
